/* Початкові стилі */
.addresses-wrapper {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.address__icon {
  width: 70px;
  float: left;
  margin-right: 10px;
}

.address__status {
  width: 32px;
}

/* Чорновий стиль для address */
.address {
  background: #FFE4C4;
  padding: 40px 20px;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  font-style: normal;
  position: relative;
  width: 32%;
  margin: 1%;
}

/* Кнопка видалення */
.address__delete {
  background: #FF8E50;
  color: white;
  text-decoration: none;
  font-size: 36px;
  line-height: 20px;
  padding: 10px;
  font-weight: bold;
  border-radius: 10px 0 10px 0;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.address__delete:hover {
  background: #FFD050;
}

/* Іконка статусу */
.address__status {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* Заголовок */
.address__title {
  display: block;
  margin-bottom: 10px;
}

/* Ліва картка */
.address:first-child {
  margin-left: 0;
  background-color: #F0FFC1;
}

/* Права картка */
.address:last-child {
  margin-right: 0;
  background-color: #B6FFDA;
}

/* Мобільна версія */
@media (max-width: 767px) {
  .addresses-wrapper {
    flex-direction: column;
  }

  .address {
    width: 100%;
    margin: 0 0 20px 0;
  }
}
